{% extends 'base.html' %}

{% block content %}
<a href="{{ url_for('upload') }}"></a>
<div class="posts">
    {% for post, like_count, comments in posts %}
    <div class="post-card">
        <img src="{{ url_for('uploaded_file', filename=post[1]) }}" alt="Post image" class="post-image">
        <p><strong>Caption:</strong> {{ post[2] }}</p>
        <p><strong>Likes:</strong> {{ like_count }}</p>
        <a href="javascript:void(0)" onclick="likePost({{ post[0] }})" class="like-btn" data-post-id="{{ post[0] }}">
            <i class="far fa-heart"></i>
        </a>

        <form method="POST" action="{{ url_for('comment', post_id=post[0]) }}" class="comment-form">
            <input type="text" name="comment" placeholder="Add a comment" required>
            <button type="submit" class="comment-btn"><i class="far fa-comment"></i></button>
        </form>

        <div class="comments">
            {% for comment in comments %}
                <p>{{ comment[0] }}</p>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}